/* ********** FUENTE ********** */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ********** HTML, BODY ********** */
html,
body {
  height: 100%;
}

/* ********** BODY ********** */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

/* ********** CONTAINER ********** */
.container {
  background-color: cornflowerblue;
  height: 100%;
  width: 100%;
}

/* ********** HEADER ********** */
header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header .hero {
  width: 100%;
}

header .hero img {
  width: 100%;
}

header .btn-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .btn-hero .promo-btn {
  background-color: #E8E8E8;
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 3px 15px;
  position: absolute;
}

header .btn-hero .promo-btn:active {
  transform: scale(0.96);
}

header .btn-hero .promo-btn div {
  background-color: gray;
  height: 1px;
  margin: 1.5px;
  width: 13px;
}

header .btn-hero .promo-btn:hover div {
  background-color: #000000;
}

header .otras-tiendas {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5px 0;
  width: 100%;
}

header .otras-tiendas .tiendas {
  min-width: 1250px;
}

header .otras-tiendas .tiendas .lista-tiendas {
  display: flex;
  margin: 0;
  padding: 0;
}

header .otras-tiendas .tiendas .lista-tiendas li {
  list-style: none;
  margin-right: 25px;
}

header .otras-tiendas .tiendas .lista-tiendas a {
  color: gray;
  font-size: 10px;
  text-decoration: none;
}

header .otras-tiendas .tiendas .lista-tiendas a:hover {
  color: #e10098;
}

header .navegador {
  background-color: #e10098;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header .navegador .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 7px 0 7px 0;
  min-width: 1250px;
}

header .navegador .nav-bar .img-tienda {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 3px;
  width: 15%;
}

header .navegador .nav-bar .img-tienda img {
  width: 90%;
}

header .navegador .nav-bar .buscador-principal {
  display: flex;
  align-items: center;
  width: 60%;
}

header .navegador .nav-bar .buscador-principal input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  outline: none;
  padding-left: 12px;
  width: 100%;
}

header .navegador .nav-bar .buscador-principal button {
  background-color: #FFFFFF;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

header .navegador .nav-bar .buscador-principal button i {
  color: #AFAAAA;
  font-size: 1rem;
}

header .navegador .nav-bar .mis-pedidos,
header .navegador .nav-bar .iniciar-sesion,
header .navegador .nav-bar .bolsa-compras {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navegador .nav-bar .mis-pedidos a,
header .navegador .nav-bar .iniciar-sesion a,
header .navegador .nav-bar .bolsa-compras a {
  text-decoration: none;
  color: #FFFFFF;
}

header .navegador .nav-bar .mis-pedidos,
header .navegador .nav-bar .iniciar-sesion {
  width: 10%;
}

header .navegador .nav-bar .mis-pedidos p,
header .navegador .nav-bar .iniciar-sesion p {
  font-size: 13px;
}

header .navegador .nav-bar .mis-pedidos {
  margin-left: 15px;
}

header .navegador .nav-bar .bolsa-compras {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

header .navegador .nav-bar .bolsa-compras i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FFFFFF;
  font-size: 2rem;
}

header .navegador .nav-bar .bolsa-compras i span {
  color: #e10098;
  position: absolute;
  margin-top: 6px;
  font-size: 1rem;
}

header .contenido-servicios {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}

header .contenido-servicios .departamento-categoria {
  background-color: pink;
  height: 550px;
  position: absolute;
  width: 920px;
  top: 36px;
  right: 7.5%;
  display: none;
}

header .contenido-servicios .navegador-servicios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1250px;
}

header .contenido-servicios .departamentos {
  display: flex;
  align-items: center;
  width: 70%;
}

header .contenido-servicios .departamentos .departamentos-lista {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

header .contenido-servicios .departamentos .departamentos-lista li {
  cursor: pointer;
  list-style: none;
  position: relative;
}

header .contenido-servicios .departamentos .departamentos-lista li span {
  font-size: 0.875rem;
}

header .contenido-servicios .departamentos .departamentos-lista li span i {
  color: #000000;
  font-size: 0.8rem;
  margin-left: 5px;
}

header .contenido-servicios .departamentos .departamentos-lista li ul.submenu-departamentos:hover i,
header .contenido-servicios .departamentos .departamentos-lista li ul.submenu-departamentos:hover span {
  color: #000000;
}

header .contenido-servicios .departamentos .departamentos-lista li ul {
  background-color: #EDEDED;
  border-radius: 2px;
  display: none;
  margin: 0;
  padding: 0px;
  position: absolute;
  top: 90%;
  width: 230px;
  -webkit-box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
  -moz-box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
  box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
}

header .contenido-servicios .departamentos .departamentos-lista li ul li {
  list-style: none;
  margin: 8px;
  color: #000000;
  transition: margin .5s ease;
}

header .contenido-servicios .departamentos .departamentos-lista li ul li span {
  display: flex;
  justify-content: space-between;
}

header .contenido-servicios .departamentos .departamentos-lista li ul li:hover {
  color: #e10098;
  margin-left: 13px;
  transition: margin-left .5s ease;
}

header .contenido-servicios .departamentos .departamentos-lista li ul li:hover i {
  color: #000000;
}

header .contenido-servicios .departamentos .departamentos-lista li ul.submenu-departamentos li:hover .departamento-categoria {
  display: flex;
}

header .contenido-servicios .departamentos .departamentos-lista li ul.submenu-credito:after {
  border: 7px solid #EDEDED;
  content: '';
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -40%;
  left: 30%;
}

header .contenido-servicios .departamentos .departamentos-lista li ul.submenu-seguros:after {
  border: 7px solid #EDEDED;
  content: '';
  border-left-color: transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  position: absolute;
  top: -10%;
  left: 53%;
}

header .contenido-servicios .departamentos .departamentos-lista li:hover {
  color: #e10098;
}

header .contenido-servicios .departamentos .departamentos-lista li:hover > span i {
  color: #e10098;
}

header .contenido-servicios .departamentos .departamentos-lista li:hover ul {
  display: flex;
  flex-direction: column;
}

header .contenido-servicios .departamentos .departamentos-lista > li:nth-child(1) {
  margin-right: 50px;
  padding: 10px 10px;
}

header .contenido-servicios .departamentos .departamentos-lista > li:nth-child(2),
header .contenido-servicios .departamentos .departamentos-lista > li:nth-child(3),
header .contenido-servicios .departamentos .departamentos-lista > li:nth-child(4) {
  margin-right: 20px;
  padding: 10px 10px;
}

header .contenido-servicios .soporte {
  width: 30%;
}

header .contenido-servicios .soporte .soporte-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

header .cuenta-regresiva {
  width: 100%;
}

header .cuenta-regresiva .contador {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: darkslateblue;
  color: #FFFFFF;
  padding: 5px 0;
}

header .cuenta-regresiva .contador p {
  margin: 0 0 5px 0;
  padding: 0;
  font-size: 1.3rem;
}

header .cuenta-regresiva .contador .hora-regresiva {
  display: flex;
  margin: 5px 0;
}

header .cuenta-regresiva .contador .hora-regresiva .time {
  text-align: center;
}

header .cuenta-regresiva .contador .hora-regresiva .time h2 {
  margin: 0 15px;
  padding: 0;
}

header .cuenta-regresiva .contador .hora-regresiva .time small {
  font-size: 10px;
}
