/* ********** FUENTE ********** */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* ********** HTML, BODY ********** */
html, body {
  height: 100%;
}

/* ********** BODY ********** */
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

/* ********** CONTAINER ********** */
.container {
  background-color: cornflowerblue;
  height: 100%;
  width: 100%;
}

/* ********** HEADER ********** */
header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

header .hero {
  width: 100%;
}

header .hero img {
  width: 100%;
}

header .btn-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header .btn-hero .promo-btn {
  border: none;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 3px 15px;
  position: absolute;
}

header .btn-hero .promo-btn:active {
  transform: scale(0.96);
}

header .btn-hero .promo-btn div {
  background-color: gray;
  height: 1px;
  margin: 1.5px;
  width: 13px;
}

header .btn-hero .promo-btn:hover div {
  background-color: #000000;
}

header .otras-tiendas {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 5px 0;
  width: 100%;
}

header .otras-tiendas .tiendas {
  min-width: 1350px;
}

header .otras-tiendas .tiendas .lista-tiendas {
  display: flex;
  margin: 0;
  padding: 0;
}

header .otras-tiendas .tiendas .lista-tiendas li {
  list-style: none;
  margin-right: 25px;
}

header .otras-tiendas .tiendas .lista-tiendas a {
  color: gray;
  font-size: 10px;
  text-decoration: none;
}

header .otras-tiendas .tiendas .lista-tiendas a:hover {
  color: #e10098;
}

header .navegador {
  background-color: #e10098;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

header .navegador .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 3px 0;
  min-width: 1350px;
}

header .navegador .nav-bar .img-tienda {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}

header .navegador .nav-bar .img-tienda img {
  width: 90%;
}

header .navegador .nav-bar .buscador-principal {
  display: flex;
  align-items: center;
  width: 60%;
}

header .navegador .nav-bar .buscador-principal input {
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 40px;
  outline: none;
  padding-left: 12px;
  width: 100%;
}

header .navegador .nav-bar .buscador-principal button {
  background-color: #FFFFFF;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

header .navegador .nav-bar .buscador-principal button i {
  color: #AFAAAA;
  font-size: 1rem;
}

header .navegador .nav-bar .mis-pedidos,
header .navegador .nav-bar .iniciar-sesion,
header .navegador .nav-bar .bolsa-compras {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navegador .nav-bar .mis-pedidos a,
header .navegador .nav-bar .iniciar-sesion a,
header .navegador .nav-bar .bolsa-compras a {
  text-decoration: none;
  color: #FFFFFF;
}

header .navegador .nav-bar .mis-pedidos,
header .navegador .nav-bar .iniciar-sesion {
  width: 10%;
}

header .navegador .nav-bar .mis-pedidos {
  margin-left: 15px;
}

header .navegador .nav-bar .bolsa-compras {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
}

header .navegador .nav-bar .bolsa-compras i {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #FFFFFF;
  font-size: 2rem;
}

header .navegador .nav-bar .bolsa-compras i span {
  color: #e10098;
  position: absolute;
  margin-top: 6px;
  font-size: 1rem;
}

header .contenido-servicios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

header .contenido-servicios .navegador-servicios {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 1350px;
}

header .contenido-servicios .navegador-servicios ul {
  margin: 0;
  padding: 0;
}

header .contenido-servicios .navegador-servicios li {
  list-style: none;
  cursor: pointer;
}

header .contenido-servicios .navegador-servicios a {
  text-decoration: none;
}

header .contenido-servicios .navegador-servicios .departamentos {
  display: flex;
  align-items: center;
  width: 70%;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista {
  display: flex;
  align-items: center;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li {
  margin-right: 40px;
  padding: 10px 10px;
  position: relative;
  color: negro;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li span {
  margin-right: 10px;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li i {
  color: gray;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-departamentos,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-credito,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-seguros {
  background-color: #F8F6F7;
  border-radius: 2px;
  position: absolute;
  top: 90%;
  width: 250px;
  display: none;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-departamentos li,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-credito li,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li .submenu-seguros li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
  padding: 5px 5px;
  color: #000000;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li:hover {
  color: #e10098;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li:hover i {
  color: #e10098;
}

header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li:hover .submenu-departamentos,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li:hover .submenu-credito,
header .contenido-servicios .navegador-servicios .departamentos .departamentos-lista li:hover .submenu-seguros {
  display: flex;
  flex-direction: column;
}

header .contenido-servicios .navegador-servicios .soporte {
  width: 30%;
}

header .contenido-servicios .navegador-servicios .soporte .soporte-lista {
  display: flex;
}
