/* ********** FUENTE ********** */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ********** HTML, BODY ********** */

html,
body {
    height: 100%;
}


/* ********** BODY ********** */

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}


/* ********** CONTAINER ********** */

.container {
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
}


/* ********** HEADER ********** */

header {
    background-color: $claro;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .hero {
        width: 100%;
        img {
            width: 100%;
        }
    }
    .btn-hero {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .promo-btn {
            background-color: #E8E8E8;
            border: none;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            outline: none;
            &:active {
                transform: scale(0.96);
            }
            cursor: pointer;
            display: flex;
            flex-direction: column;
            padding: 3px 15px;
            position: absolute;
            div {
                background-color: gray;
                height: 1px;
                margin: 1.5px;
                width: 13px;
            }
            &:hover {
                div {
                    background-color: $negro;
                }
            }
        }
    }
    .otras-tiendas {
        background-color: $claro;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 5px 0;
        width: 100%;
        .tiendas {
            min-width: 1250px;
            .lista-tiendas {
                display: flex;
                margin: 0;
                padding: 0;
                li {
                    list-style: none;
                    margin-right: 25px;
                }
                a {
                    color: gray;
                    font-size: 10px;
                    text-decoration: none;
                    &:hover {
                        color: $tienda;
                    }
                }
            }
        }
    }
    .navegador {
        background-color: $tienda;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        .nav-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 7px 0 7px 0;
            min-width: 1250px;
            .img-tienda {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                margin: 3px;
                width: 15%;
                img {
                    width: 90%;
                }
            }
            .buscador-principal {
                display: flex;
                align-items: center;
                width: 60%;
                input {
                    border: none;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    height: 40px;
                    outline: none;
                    padding-left: 12px;
                    width: 100%;
                }
                button {
                    background-color: $claro;
                    border: none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    i {
                        color: $intermedio;
                        font-size: 1rem;
                    }
                }
            }
            .mis-pedidos,
            .iniciar-sesion,
            .bolsa-compras {
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    text-decoration: none;
                    color: $claro;
                }
            }
            .mis-pedidos,
            .iniciar-sesion {
                width: 10%;
                p {
                    font-size: 13px;
                }
            }
            .mis-pedidos {
                margin-left: 15px;
            }
            .bolsa-compras {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 5%;
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    color: $claro;
                    font-size: 2rem;
                    span {
                        color: $tienda;
                        position: absolute;
                        margin-top: 6px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    .contenido-servicios {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        .departamento-categoria {
            background-color: pink;
            height: 550px;
            position: absolute;
            width: 920px;
            top: 36px;
            right: 7.5%;
            display: none;
        }
        .navegador-servicios {
            display: flex;
            align-items: center;
            justify-content: space-between;
            min-width: 1250px;
        }
        .departamentos {
            display: flex;
            align-items: center;
            width: 70%;
            .departamentos-lista {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
                li {
                    cursor: pointer;
                    list-style: none;
                    position: relative;
                    span {
                        font-size: 0.875rem;
                        i {
                            color: $negro;
                            font-size: 0.8rem;
                            margin-left: 5px;
                        }
                    }
                    ul.submenu-departamentos {
                        &:hover {
                            i,
                            span {
                                color: $negro;
                            }
                        }
                    }
                    ul {
                        background-color: #EDEDED;
                        border-radius: 2px;
                        display: none;
                        margin: 0;
                        padding: 0px;
                        position: absolute;
                        top: 90%;
                        width: 230px;
                        -webkit-box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
                        -moz-box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
                        box-shadow: -4px 3px 5px -2px rgba(8, 8, 8, 0.22);
                        li {
                            list-style: none;
                            margin: 8px;
                            color: $negro;
                            transition: margin .5s ease;
                            span {
                                display: flex;
                                justify-content: space-between;
                            }
                            &:hover {
                                color: $tienda;
                                margin-left: 13px;
                                transition: margin-left .5s ease;
                                i {
                                    color: $negro;
                                }
                            }
                        }
                    }
                    ul.submenu-departamentos {
                        li {
                            &:hover {
                                .departamento-categoria {
                                    display: flex;
                                }
                            }
                        }
                    }
                    ul.submenu-credito:after {
                        border: 7px solid #EDEDED;
                        content: '';
                        border-left-color: transparent;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        position: absolute;
                        top: -40%;
                        left: 30%;
                    }
                    ul.submenu-seguros:after {
                        border: 7px solid #EDEDED;
                        content: '';
                        border-left-color: transparent;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        position: absolute;
                        top: -10%;
                        left: 53%;
                    }
                    &:hover {
                        color: $tienda;
                        >span {
                            i {
                                color: $tienda;
                            }
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
                >li:nth-child(1) {
                    margin-right: 50px;
                    padding: 10px 10px;
                }
                >li:nth-child(2),
                >li:nth-child(3),
                >li:nth-child(4) {
                    margin-right: 20px;
                    padding: 10px 10px;
                }
            }
        }
        .soporte {
            width: 30%;
            .soporte-lista {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0;
                padding: 0;
            }
        }
    }
    .cuenta-regresiva {
        width: 100%;
        .contador {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: darkslateblue;
            color: $claro;
            padding: 5px 0;
            p {
                margin: 0 0 5px 0;
                padding: 0;
                font-size: 1.3rem;
            }
            .hora-regresiva {
                display: flex;
                margin: 5px 0;
                .time {
                    text-align: center;
                    h2 {
                        margin: 0 15px;
                        padding: 0;
                    }
                    small {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

// /* ********** HERO-PROMOS ********** */
// .hero-promos {
//     img {
//         width: 100%;
//         height: 100%;
//     }
// }
// .hero-button {
//     position: absolute;
//     top: 50px;
//     .promo-btn {
//         display: flex;
//         flex-direction: column;
//         border: none;
//         padding: 3px 15px;
//         cursor: pointer;
//         border-bottom-right-radius: 3px;
//         border-bottom-left-radius: 3px;
//         div {
//             width: 13px;
//             height: 1px;
//             background-color: grey;
//             margin: 1.5px;
//         }
//         &:hover {
//             div {
//                 background-color: $negro;
//             }
//         }
//     }
// }
// /* ********** CONTAINER ********** */
// .container {
// }
// /* ********** HEADER ********** */
// header {
// }
// header {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     /* *** PROMOS *** */
//     .promos {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         position: relative; 
//         a {
//             img {
//                 width: 100%;
//             }
//         }
//         .promo-btn {
//             display: flex;
//             flex-direction: column;
//             position: absolute;
//             top: 32px;
//             border: none;
//             padding: 3px 15px;
//             cursor: pointer;
//             border-bottom-right-radius: 3px;
//             border-bottom-left-radius: 3px;
//             div {
//                 width: 13px;
//                 height: 1px;
//                 background-color: grey;
//                 margin: 1.5px;
//             }
//             &:hover {
//                 div {
//                     background-color: $negro;
//                 }
//             }
//         }
//     }
//     /* *** OTRAS TIENDAS *** */
//     .otras-tiendas {
//         display: flex;
//         flex-direction: column;
//         align-items: flex-start;
//         justify-content: center;
//         ul {
//             display: flex;
//             margin: 0;
//             padding: 0;
//             li {
//                 list-style: none;
//                 margin: 0 15px;
//                 a {
//                     text-decoration: none;
//                     font-size: 8px;
//                     color: $negro;
//                     &:hover {
//                         color: $tienda;
//                     }
//                 }
//             }
//         }
//     }
//     /* *** NAVEGACIÓN *** */
//     .nav-bar {
//         background-color: $tienda;
//         margin-top: 10px;
//         .navegacion {
//             display: flex;
//             align-items: center;
//             padding: 8px 10px 8px 10px;
//             a {
//                 text-decoration: none;
//             }
//             .img-tienda {
//                 width: 210px;
//                 a {
//                     img {
//                         width: 180px;
//                     }
//                 }
//             }
//             .buscador-principal {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 input {
//                     height: 40px;
//                     width: 800px;
//                     // width: 700px;
//                     border: none;
//                     outline: none;
//                     padding-left: 12px;
//                     border-top-left-radius: 5px;
//                     border-bottom-left-radius: 5px;
//                     border-right: none;
//                 }
//                 button {
//                     cursor: pointer;
//                     height: 40px;
//                     width: 40px;
//                     background-color: $claro;
//                     border: none;
//                     border-top-right-radius: 5px;
//                     border-bottom-right-radius: 5px;
//                     i {
//                         color: $intermedio;
//                         font-size: 1rem;
//                     }
//                 }
//             }
//             p {
//                 color: $claro;
//                 font-size: .9rem;
//             }
//             .mis-pedidos {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin: 0 25px 0 25px
//             }
//             .iniciar-sesion {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 margin-right: 25px;
//             }
//             .bolsa-compras {
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 i {
//                     display: flex;
//                     justify-content: center;
//                     align-items: center;
//                     position: relative;
//                     color: $claro;
//                     font-size: 2rem;
//                     span {
//                         color: $tienda;
//                         position: absolute;
//                         margin-top: 6px;
//                         font-size: 1rem;
//                     }
//                 }
//             }
//         }
//     }
// }
// /* ********** DEPARTAMENTOS ********** */
// .contenedor-departamentos {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     font-size: 0.875rem;
//     ul {
//         padding: 0;
//         margin: 0;
//     }
//     li {
//         list-style: none;
//         cursor: pointer;
//     }
//     a {
//         text-decoration: none;
//     }
//     .departamentos {
//         display: flex;
//         li {
//             margin-right: 40px;
//             padding: 10px 10px;
//             position: relative;
//             color: $negro;
//             span {
//                 margin-right: 10px;   
//             }
//             i {
//                 color: $gris;
//             }
//             ul {
//                 position: absolute;
//                 top: 90%;
//                 background-color: #F8F6F7;
//                 width: 250px;
//                 border-radius: 2px;
//                 display: none;
//                 li {
//                     display: flex;
//                     justify-content: space-between;
//                     margin: 5px;
//                     padding: 5px 5px;
//                 }
//             }
//             &:hover {
//                 color: $tienda;
//                 i {
//                     color: $tienda;
//                 }
//                 ul {
//                     display: flex;
//                     flex-direction: column;
//                     li {
//                         transition: margin-left .5s ease;
//                         i {
//                             color: $gris;
//                         }
//                     }
//                     &:hover {
//                         li {
//                             margin-left: 15px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .ayuda {
//         display: flex;
//         li {
//             margin: 10px;
//             color: $negro;
//             a {
//                 color: $negro;
//                 &:hover {
//                     color: $tienda;
//                 }
//             }
//         }
//     }
// }
// /* ********** CONTADOR ********** */
// .contador {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     background-color: darkslateblue;
//     color: $claro;
//     padding: 5px 0;
//     p {
//         margin: 0 0 5px 0;
//         padding: 0;
//         font-size: 1.3rem;
//     }
//     .hora-regresiva {
//         display: flex;
//         margin: 5px 0;
//         .time {
//             text-align: center;
//             h2 {
//                 margin: 0 15px;
//                 padding: 0;
//             }
//             small {
//                 font-size: 8px;
//             }
//         }
//     }
// }