/* ********** FUENTE ********** */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}


/* ********** HEADER ********** */

header {
    display: flex;
    flex-direction: column;
    /* *** PROMOS *** */
    .promos {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        a {
            img {
                width: 100%;
            }
        }
        .promo-btn {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 32px;
            border: none;
            padding: 3px 15px;
            cursor: pointer;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            div {
                width: 13px;
                height: 1px;
                background-color: grey;
                margin: 1.5px;
            }
            &:hover {
                div {
                    background-color: $negro;
                }
            }
        }
    }
    /* *** OTRAS TIENDAS *** */
    .otras-tiendas {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        ul {
            display: flex;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 0 15px;
                a {
                    text-decoration: none;
                    font-size: 8px;
                    color: $negro;
                    &:hover {
                        color: $tienda;
                    }
                }
            }
        }
    }
    /* *** NAVEGACIÓN *** */
    .nav-bar {
        background-color: $tienda;
        margin-top: 10px;
        .navegacion {
            display: flex;
            align-items: center;
            padding: 8px 10px 8px 10px;
            a {
                text-decoration: none;
            }
            .img-tienda {
                width: 210px;
                a {
                    img {
                        width: 180px;
                    }
                }
            }
            .buscador-principal {
                display: flex;
                justify-content: center;
                align-items: center;
                input {
                    height: 40px;
                    width: 700px;
                    border: none;
                    outline: none;
                    padding-left: 12px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    border-right: none;
                }
                button {
                    cursor: pointer;
                    height: 40px;
                    width: 40px;
                    background-color: $claro;
                    border: none;
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                    i {
                        color: $intermedio;
                        font-size: 1rem;
                    }
                }
            }
            p {
                color: $claro;
                font-size: .9rem;
            }
            .mis-pedidos {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 25px 0 25px
            }
            .iniciar-sesion {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 25px;
            }
            .bolsa-compras {
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    color: $claro;
                    font-size: 2rem;
                    span {
                        color: $tienda;
                        position: absolute;
                        margin-top: 6px;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

.contador {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darkslateblue;
    color: $claro;
    margin: 0;
    padding: 10px;
    p {
        margin: 0;
        padding: 0;
    }
    .hora-regresiva {
        margin: 0;
        padding: 0;
        display: flex;
        .time {
            margin: 15px;
            text-align: center;
            h2 {
                margin: 0;
                padding: 0;
            }
            small {
                font-size: 8px;
            }
        }
    }
}