// Fuentes
$fuentePrincipal: 'Questrial',
sans-serif;
// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
// Colores
$negro: #000000;
$gris: gray;
$back:#F4F4F4;
$intermedio: #AFAAAA;
$claro: #FFFFFF;
$primario: #30336b;
$secundario: #be2edd;
$rosa: #e10098;
$tienda: #e10098;
// Modal
$modal-duration: 1s;